# **Variables and Data types**

This notebook goes through the basics variables and data types in python.

**Variables**

In Python, a variable is a name that refers to a value. It can also be thought of as a container that holds some information. Variables make it easy to work with data in your programs.

In [1]:
# Creating a variable
x = 5
name = "Lerissa"
is_happy = True

In [4]:
# Printing a variable
print(name)

Lerissa

**Data Types**

Data types specify the kind of value a variable holds. Python has several built-in data types, including:


Integers(int): Whole numbers, like 5, -10, 100.

Floats (float): Numbers with decimal points, like 3.14, 0.001, -15.6.

Strings (str): Sequences of characters, like "Hello, World!", "Python".

Booleans (bool): Logical values, True or False.

**Type Checking and Conversion**

You can check the type of a variable using the type() function and convert between types using functions like int(), float(), str(), etc.

In [6]:
x = 10
print(type(x))

y = 3.14
print(type(y))

z = "123"
print(type(z))

<class 'int'>
<class 'float'>
<class 'str'>

In [7]:
# Type conversion
z_int = int(z)  # Convert string "123" to integer 123
print(type(z_int))

<class 'int'>

**Adding Integers and Floats**

Integers (int) and floats (float) can be added together directly. The result will be a float if at least one operand is a float; otherwise, it will be an integer.

In [9]:
a = 10
b = 7.2
result = a + b

print(result)

17.2

**Adding Strings**

Strings (str) can be added together using the + operator, which concatenates (joins) them.

In [13]:
a = "My name is"
b = "Lerissa"

greeting = a + " " + b

print(greeting)

My name is Lerissa

**NB.** Adding Incompatible Types: You cannot add together variables of incompatible types directly (e.g., an integer and a string). Doing so will result in a TypeError. Variables can be converted to compatible data types to avoid errors.

In [17]:
x = 5
y = "10"

sum = x + int(y)

print(type(x))
print(type(y))
print(type(sum))
print(sum)

<class 'int'>
<class 'str'>
<class 'int'>
15